*{
    margin:30px;
    padding: 3px;
    font-family:'Times New Roman', Times, serif;
    scroll-behavior:smooth;
    box-sizing: border-box;
    background:linear-gradient(rgba(154,43,218,0.1));
    
}
body{
    
    font-family: sans-serif;
}
h1 {
    color:rgb(73, 4, 73);
    text-align: center;

}
fieldset{
    width:300px;
    margin:auto;
    padding:20px;
    background-color:blanchedalmond;
    border-radius: 5px;
    font-size:20px;
    margin-bottom: 0px;
    margin-top: 0px ;
    color:rgb(73, 4, 73);
    border-width: 4px;

}

#registrationform button{
    padding:10px;
    margin-bottom: 10px;
    margin-right:50px;
    margin-left: 60px;
    width:50%;
    color:aliceblue;
    background-color: rgb(135, 7, 163);
    border:none;
    font-size: 20px;
    border-radius:4px;

}
.input-control{
    display:contents;
    

   

}
.input-control input{
    

}




}

